root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,md}]
indent_size = 2

[*.{csproj,props,targets,slnx,xaml,appxmanifest,resw,xml,manifest}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_sort_system_directives_first = true
